Ben Williams <bwi67@uclive.ac.nz> toadmilk <catsdrinktoadmilk@gmail.com>
Michael Alpenfels <mwa172@uclive.ac.nz> TheDeathlyCow <thedeathlycow@gmail.com>
Kane Xie <kxi12@uclive.ac.nz> Kane Xie <16365@burnside.school.nz>
Kane Xie <kxi12@uclive.ac.nz> mestarter <16365@burnside.school.nz>