<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org" class="h-100">
<head>
  <script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>
  <meta http-equiv="Content-Type" context="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/css/custom.css}">
  <link rel="stylesheet" th:href="@{/css/feedPage.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}">
  <title>My Feed | Hopper.</title>
</head>

<body class="bg-dark">

<div th:replace="~{fragments/navbar :: navbar}"></div>
<div class="main-content container">
  <div class="row justify-content-center">
    <div class="col-lg-10 card bg-light p-5">
      <div class="row">

        <div class="col-12 d-flex justify-content-between align-items-center">
          <h2>My Feed</h2> <!-- This is an example title, you can remove or replace it -->
          <a th:href="@{/blog/create}" class="p-3">
            <button class="btn btn-outline-dark" th:href="@{/blog/create}">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-plus-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
              </svg>
              Create Post
            </button>
          </a>
        </div>

        <hr>
        <div class="d-flex gap-3 align-items-center">
          <h4><button class="btn" th:classappend="${tab} == 'all' ? 'btn-primary' : ''" type="button" th:onclick="|window.location.href='@{/feed}'|">Public</button></h4>
          <h4><button class="btn" th:classappend="${tab} == 'following' ? 'btn-primary' : ''" type="button" th:onclick="|window.location.href='@{/feed/following}'|">Following</button></h4>
        </div>
        <div id="mainFeed"
              style="max-height: 500px; overflow-y: auto"
              class="mt-2 d-flex flex-column gap-3">
        <!-- Div is populated by JS -->
        </div>
      </div>
    </div>
  </div>
</div>

<div th:replace="~{fragments/deletePostModal :: deletePostModal}"></div>

<!-- HTML template for the blog post -->
<template id="blog-post-template">
  <div class="card rounded-form border-0 bg-hopper-onlight">
    <div class="card-body">
      <div class="row">
        <div class="d-flex justify-content-between">
          <h4 class="card-title"></h4>
          <div class="d-flex gap-1">
            <button class="btn btn-outline-dark edit-button">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-pencil" viewBox="0 0 16 16">
                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
              </svg>
              Edit
            </button>
            <div>
              <button type="button" class="btn btn-primary delete-button">
                Delete
              </button>
            </div>
          </div>
        </div>
        <div style="display: inline-block;">
          <div class="user-profile" style="cursor: pointer; overflow: initial!important; width: 33px; height: 33px; position: relative; display: inline-block; padding: 0;">
            <img id="profilePicture" class="rounded-circle" width="100%" height="100%" alt="Profile Picture" style="z-index: 1; position: relative;">
            <img hidden id="borderPicture" class="position-absolute" width="48px" height="auto" style="z-index: 2; left: -8px; top: -8px;">
          </div>
          <h6 class="user-info card-subtitle mb-4 text-muted" style="display: inline-block; margin-left: 7px">
            <!-- User and date information will go here -->
          </h6>
        </div>
        <p class="card-text"></p>

        <a id="viewChallengeDetailsTitle" class="d-block text-muted mb-2 toggle-challenge"
            style="cursor: pointer;"
            onclick="toggleTextAndIcon(this)">
          <span class="toggle-text">View Challenge Details</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill toggle-icon" viewBox="0 0 16 16">
            <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
          </svg>
        </a>

        <div class="collapse">
          <h6 class="challenge-title"></h6>
          <p class="challenge-description"></p>
        </div>


        <div id="mediaWrapper" class="media-wrapper mb-2 bg-light">
          <!-- Media content will go here -->
        </div>
      </div>
    </div>
  </div>
</template>


<script th:src="@{/js/main_feed.js}"></script>

<script>
  function toggleTextAndIcon(element) {
    const textElement = element.querySelector('.toggle-text');
    const iconElement = element.querySelector('.toggle-icon');

    if (textElement.textContent === 'View Challenge Details') {
      textElement.textContent = 'Hide Challenge Details';
    } else {
      textElement.textContent = 'View Challenge Details';
    }

    if (iconElement.classList.contains('bi-caret-down-fill')) {
      iconElement.classList.remove('bi-caret-down-fill');
      iconElement.classList.add('bi-caret-up-fill');
      iconElement.innerHTML = '<path d="M4.204 11a1 1 0 0 1-.753-1.659l4.796-5.48a1 1 0 0 1 1.506 0l4.796 5.48a1 1 0 0 1-.753 1.659H4.204z"/>';
    } else {
      iconElement.classList.remove('bi-caret-up-fill');
      iconElement.classList.add('bi-caret-down-fill');
      iconElement.innerHTML = '<path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>';
    }
  }
</script>
<script th:inline="javascript">
  fetchBlogPosts([[${basePath}]], [[${tab == 'following'}]])

  feed.addEventListener('scroll', async function () {
    if (feed.scrollTop === (feed.scrollHeight - feed.offsetHeight)) {
      fetchBlogPosts([[${basePath}]], [[${tab == 'following'}]])
    }
  })
</script>
</body>