.card {
    max-width: 40rem;
}

#main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

#file-chosen {
    overflow-wrap: break-word;
}

#vidPreview {
    object-fit: cover;
}