body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

#main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

#passwordCard {
    width: 50%;
}

.card-body {
    border-radius: 12px;
}



